[submodule "MacKernelSDK"]
	path = MacKernelSDK
	url = https://github.com/Acidanthera/MacKernelSDK.git
[submodule "VirtualSMC"]
	path = VirtualSMC
	url = https://github.com/acidanthera/VirtualSMC.git
